# Pandas Basics

Date: 2024/08/08

暫くFlaskのプログラミングやってたので、Pandasのスキルが下がった。ここで復習する。

## SeriesからDataFrame作成

In [7]:
import pandas as pd

s1 = pd.Series([0, 1, 2, 3], index=['A', 'B', 'C', 'D'])
s1

A    0
B    1
C    2
D    3
dtype: int64

In [14]:
s2 = pd.Series([4, 5, 6, 7], index=['A', 'B', 'C', 'D'], name='Y')
s2

A    4
B    5
C    6
D    7
Name: Y, dtype: int64

In [15]:
df = s.to_frame('X')
df['Y'] = s2
df

   X  Y
A  0  4
B  1  5
C  2  6
D  3  7

In [16]:
pd.DataFrame([s2])

   A  B  C  D
Y  4  5  6  7

## 複数のSeriesからDataFrame作成

In [18]:
pd.DataFrame({'XX': s1, 'YY': s2})

   XX  YY
A   0   4
B   1   5
C   2   6
D   3   7

## Index操作

In [19]:
df = pd.DataFrame({'col0': [0, 1, 2, 3], 'col1': [4, 5, 6, 7], 'col2': [8, 9, 10, 11]}, index=['row0', 'row1', 'row2', 'row3'])
df

      col0  col1  col2
row0     0     4     8
row1     1     5     9
row2     2     6    10
row3     3     7    11

In [20]:
df.col0

row0    0
row1    1
row2    2
row3    3
Name: col0, dtype: int64

In [31]:
df.loc['row1':'row2','col2']

row1     9
row2    10
Name: col2, dtype: int64

In [45]:
df.iloc[1:3,2]

row1     9
row2    10
Name: col2, dtype: int64

## dtypes

In [53]:
df = pd.DataFrame({'col0': [0, 'John', 2, 3.3], 'col1': [4, 5, 'Paul', 7], 'col2': ['Geroge', 'Ringo', 10, 11], 'col3': [10,11,12,13]}, index=['row0', 'row1', 'row2', 'row3'])
df

      col0  col1    col2  col3
row0     0     4  Geroge    10
row1  John     5   Ringo    11
row2     2  Paul      10    12
row3   3.3     7      11    13

In [54]:
df.dtypes

col0    object
col1    object
col2    object
col3     int64
dtype: object

In [59]:
df.loc['row1', 'col0'] = 4.0
df.loc['row2', 'col1'] = 4
df.loc['row0', 'col2'] = 6
df.loc['row1', 'col2'] = 5

In [58]:
df

     col0 col1 col2  col3
row0    0    4    6    10
row1    4    5    5    11
row2    2    4   10    12
row3  3.3    7   11    13

In [66]:
df.col0 = df.col0.astype(float)
df.col1 = df.col1.astype(int)
df.col2 = df.col2.astype(int)
df.dtypes

col0    float64
col1      int64
col2      int64
col3      int64
dtype: object