# Pandas to SQLite

Date: 2024/04/15

In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.DataFrame({'c1': [1, '1'], 'c2': [2, '2'], 'c3': [3, '3']})
df.c3 = df.c3.astype(int)
df

  c1 c2  c3
0  1  2   3
1  1  2   3

In [3]:
for idx, row in df.iterrows():
    for r in row:
        print(idx, type(r))

0 <class 'int'>
0 <class 'int'>
0 <class 'int'>
1 <class 'str'>
1 <class 'str'>
1 <class 'int'>

In [4]:
df.to_csv('tmp/ps.csv')

In [5]:
conn = sqlite3.connect('tmp/ps.db')
df.to_sql('ps', conn, if_exists='replace',index=None, dtype={'c1': 'INTEGER'})

2

In [6]:
cur = conn.cursor()

In [7]:
cur.execute('SELECT * from ps').fetchall()

[(1, '2', 3), (1, '2', 3)]

In [8]:
conn.close()